{% extends "Messages/modal_template.html" %}
{% block id %}HWTC{% endblock %}
{% block title %}
    How to Cite
{% endblock %}
{% block text %}
    <div class="alert alert-info">
        <h4>If you use the sRNAblast for your publication you might cite the following publications:</h4>
        <ul>
            <li><a target="_blank" href="https://dx.doi.org/10.1093%2Fnar%2Fgkv555" >sRNAtoolbox: an integrated collection of small RNA research tools.</a></li>
            <li><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/20003500" > Camacho et. (2009) BLAST+: architecture and applications. BMC Bioinformatics, 10, 421.</a></li>
        </ul>

    </div>
{% endblock %}
