{% extends "Messages/modal_template.html" %}
{% block id %}HWTC{% endblock %}
{% block title %}
    How to Cite
{% endblock %}
{% block text %}
    <div class="alert alert-info">
        <h4>If you use the sRNAbench webserver for your publication you might cite the following publications:</h4>
        <ul>

            <li><a target="_blank" href="https://dx.doi.org/10.1093%2Fnar%2Fgkv555" >sRNAtoolbox: an integrated collection of small RNA research tools.</a></li>
            <li><a target="_blank" href="https://arn.ugr.es/srnatoolbox/static/sRNAbench_article.pdf" >sRNAbench: profiling of small RNAs and its sequence variants in single or multi-species high-throughput experiments.</a></li>
            <li><a target="_blank" href="http://genomebiology.com/2009/10/3/r25">Ultrafast and memory-efficient alignment of short DNA sequences to the human genome.</a></li>
            <li><a target="_blank" href="http://nar.oxfordjournals.org/content/39/suppl_1/D152.full" >miRBase: integrating microRNA annotation and deep-sequencing data.</a></li>
        </ul>

    </div>
{% endblock %}
