{% extends "Messages/modal_template.html" %}
{% block id %}HWTC{% endblock %}
{% block title %}
    How to Cite
{% endblock %}
{% block text %}
    <div class="alert alert-info">
        <h4>If you use the sRNAde for your publication you might cite the following publications:</h4>
        <ul>
            <li><a target="_blank" href="https://dx.doi.org/10.1093%2Fnar%2Fgkv555" >sRNAtoolbox: an integrated collection of small RNA research tools.</a></li>

            <li><a target="_blank"
                   href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.0020363" >
                John,B., Enright,A.J., Aravin,A., Tuschl,T., Sander,C. and Marks,D.S. (2004) Human MicroRNA targets. PLoS Biol., 2, e363.
            </a></li>


            <li><a target="_blank"
                   href="http://www.ncbi.nlm.nih.gov/pubmed/17893677" >
                Kertesz,M., Iovino,N., Unnerstall,U., Gaul,U. and Segal,E. (2007) The role of site accessibility in microRNA target recognition. Nat. Genet., 39, 1278–84.
            </a></li>


            <li><a target="_blank"
                   href="http://www.biomedcentral.com/1471-2105/11/292" >
                Sturm,M., Hackenberg,M., Langenberger,D. and Frishman,D. (2010) TargetSpy: a supervised machine learning approach for microRNA target prediction. BMC Bioinformatics, 11, 292.
            </a></li>



            <li><a target="_blank"
                   href="http://www.ncbi.nlm.nih.gov/pubmed/22693224" >
                Wu,H.-J., Ma,Y.-K., Chen,T., Wang,M. and Wang,X.-J. (2012) PsRobot: a web-based plant small RNA meta-analysis toolbox. Nucleic Acids Res., 40, W22–8.
            </a></li>



            <li><a target="_blank"
                   href="http://www.ncbi.nlm.nih.gov/pubmed/20430753" >
                Bonnet,E., He,Y., Billiau,K. and Van de Peer,Y. (2010) TAPIR, a web server for the prediction of plant microRNA targets, including target mimics. Bioinformatics, 26, 1566–8.
            </a></li>


        </ul>

    </div>
{% endblock %}
