{% extends "Messages/modal_template.html" %}
{% block id %}AdvanceParameters{% endblock %}
{% block title %}
    Progams Parameters
{% endblock %}
{% block text %}
<p>Users can add here specific option for each of the programs selected. <br />
 Please note: Users must read the documention of each program before add any parameters, since the parameters won't be controlled or checked by this application any incorrect parameter will cause errors in the ouput or even the failure of the job lauched.</p>
{% endblock %}
