{% extends "Messages/modal_template.html" %}
{% block id %}Advanced{% endblock %}
{% block title %}
    Advanced parameters
{% endblock %}
{% block text %}
<p> mirnaQC will try to automatically detect protocol and species from your data but if you provide these, your job will run faster.</p>
<p> miRNA-seq protocols that can be detected:</p>
    <ul>
    <li>Illumina TrueSeq™ (280916) </li>
    <li>NEBnext™  </li>
    <li>Clonetech SMARTer™  </li>
    <li>Qiagen™ (with UMIs)  </li>

    </ul>








{% endblock %}
