{% extends "Messages/modal_template.html" %}
{% block id %}HTC{% endblock %}
{% block title %}
    How to cite mirnaQC
{% endblock %}
{% block text %}

<div class="alert alert-info">
        <h4>If you use mirnaQC, please cite our latest publication:</h4>
        <ul>
                <li><a target="_blank" href="https://academic.oup.com/nar/article/48/W1/W262/5850310">
                    mirnaQC: a webserver for comparative quality control of miRNA-seq data</a></li>
        </ul>

        <h4>Please also consider citing the preprocessing tool:</h4>
        <ul>
            <li><a target="_blank" href="https://doi.org/10.1093/nar/gkz415">sRNAbench and sRNAtoolbox 2019: intuitive fast small RNA profiling and differential expression</a></li>
        </ul>

    </div>

{% endblock %}
