{% extends "Messages/modal_template.html" %}
{% block id %}Tools{% endblock %}
{% block title %}
    Other miRNA tools from our lab
{% endblock %}
{% block text %}

<p> If you use and like mirnaQC consider other tools from our lab:</p>
    <ul>
    <li>
        <a href="https://arn.ugr.es/srnatoolbox/srnabench/" target="_blank">sRNAbench: an intuitive and fast miRNA profiler </a>
    </li>
    <li>
        <a href="https://arn.ugr.es/srnatoolbox/" target="_blank">sRNAtoolbox: a collextion of miRNA tools</a>
    </li>
    </ul>



{% endblock %}
