{% extends "Messages/modal_template.html" %}
{% block id %}Choose_Input{% endblock %}
{% block title %}
    Choose Reads File Input
{% endblock %}
{% block text %}
<p> There are 3 ways you can provide reads for sRNAbench to profile:</p>
    <ul>
  <li>Upload read files (typically fastq or fastq.gz)</li>
  <li>Provide links/URLs with your data (it will be downloaded and then profiled) </li>
  <li>Provide accession for SRA runs (they start with SRR,ERR or DRR e.g. <a href="https://www.ncbi.nlm.nih.gov/sra/?term=SRR1563062" target="_blank">SRR1563062</a>)</li>
    </ul>


{% endblock %}
