{% extends "Messages/modal_template.html" %}
{% block id %}HWTC{% endblock %}
{% block title %}
    How to Cite
{% endblock %}
{% block text %}
    <div class="alert alert-info">
        <h4>If you use the sRNAde for your publication you might cite the following publications:</h4>
        <ul>
            <li><a target="_blank" href="https://dx.doi.org/10.1093%2Fnar%2Fgkv555" >sRNAtoolbox: an integrated collection of small RNA research tools.</a></li>
            <li><a target="_blank" href="http://dx.doi.org/10.1186/gb-2010-11-10-r106, http://genomebiology.com/2010/11/10/R106/" >Anders S and Huber W (2010). “Differential expression analysis for sequence count data.” Genome Biology, 11, pp. R106.</a></li>
            <li><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2796818/">Robinson MD, McCarthy DJ and Smyth GK (2010). “edgeR: a Bioconductor package for differential expression analysis of digital gene expression data.” Bioinformatics, 26, pp. -1.</a></li>
            <li><a target="_blank" href="http://genome.cshlp.org/content/21/12/2213" >Tarazona S, Garcia-Alcalde F, Dopazo J, Ferrer A and Conesa A (2011). “Differential expression in RNA-seq: a matter of depth.” Genome research, 21(12), pp. 4436.</a></li>
        </ul>

    </div>
{% endblock %}
