{% extends "base.html" %}
{% load staticfiles %}

{% block header %}

  <meta http-equiv='refresh' content='0; URL={{ redirection_url }}'>

{% endblock %}

{% block content %}
    <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
{#   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-en_US.min.js"></script>


<script>$(function () {

  $(".js-upload-photos").click(function () {

    $("#fileupload").click();
  });

  $("#fileupload").fileupload({
    dataType: 'json',
    sequentialUploads: true,

    start: function (e) {
      $("#modal-progress").modal("show");
    },

    stop: function (e) {
      $("#modal-progress").modal("hide");
    },

    progressall: function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
      var strProgress = progress + "%";
      $(".progress-bar").css({"width": strProgress});
      $(".progress-bar").text(strProgress);
    },

    done: function (e, data) {
        $("#modal-progress").modal("hide");
      if (data.result.is_valid) {
          {#alert("hello");#}
          $("#modal-progress").modal("hide");
          $("#uploaded_card").show();
          {#alert(data.result.name);#}
          {#alert(data.result.url);#}
        {# $("#modal-progress").modal("hide");#}
        $("#gallery tbody").prepend(
          "<tr><td><a href='" + data.result.url + "'>" + data.result.name + "</a></td></tr>"
        )
      }
    }

  });

});</script>

    <script>
    $(document).ready(function(){

            $('#example_but').on('click', function(){
                $('#id_sra_input').val("SRR1563060,SRR1563062");
                $("#species option[value='Human']").attr("selected", true).trigger("change");
                $("#proto_Illu[value='Illumina']").attr("checked", true);

                $('#run_id').css("data-toggle", "tooltip");
                $('#run_id').tooltip('show');




            })});



    </script>

    <script>
        $(document).ready(function(){
            alert("{{ test }}");
        });
    </script>


    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Uploading...</h4>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div id="page-wrapper">

    {% include "Messages/protocols/Illumina.html" %}
    {% include "Messages/protocols/NEB.html" %}
    {% include "Messages/protocols/Bioo.html" %}
    {% include "Messages/protocols/Smarter.html" %}
    {% include "Messages/protocols/Qiagen.html" %}


        <div class="row">
            <div class="col-lg-12">
{#                <h1 class="page-header">whatever</h1>#}
{#                <div class="jumbotron">#}
{#                <a target="_blank" href=""><h1 style="display:inline;">conDE: <small> a webserver for calculation and visualisation of consensus differential expression</small></h1></a>#}
{#                <br>#}
{#                <br>#}
{##}
{##}
{#                <!--<p>Dear user, we received the information you provided. We will have a look at the data and make our best to include it in liqDB.</p>-->#}
{#              </div>#}
            </div>
        </div>
            <div class="row">

                <p> Your job is launching </p>

            </div>
        <br>
{#        <div class="row">#}
{#                <div id="uploaded_card" class="col-lg-4">#}
{#                    <div class="card shadow">#}
{#                        <div class="card-header py-3">#}
{#                            <h6 class="m-0 font-weight-bold text-primary"><span style="font-size: 24px;color: #000; "> </span> Uploaded file(s) <span style="font-size: 24px; ">  </span> </h6>#}
{#                            <h6 class="m-0 font-weight-bold text-primary">Upload input file(s) <span style="font-size: 18px; color: Dodgerblue;"> <i class="far fa-clickable fa-question-circle"> </i> </span> </h6>#}
{##}
{#                        </div>#}
{#                    <div class="card-body">#}
{##}
{#                                <table id="gallery" class="table table-bordered">#}
{#                                        <thead>#}
{#                                          <tr>#}
{#                                            <th>Uploaded File(s)</th>#}
{#                                          </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}
{##}
{#                                        </tbody>#}
{#                                      </table>#}
{##}
{#                    </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}

        <br>

            <!-- /.col-lg-12 -->
        </div>

    <script>
    $(document).ready(function() {
        $("#uploaded_card").hide();
        $('species_select').selectpicker();
        {#$('select').selectpicker();#}
    });
</script>

{#    <script type="text/javascript">#}
{#    $('.selectpicker').selectpicker({#}
{#      });#}
{#</script>#}

{#    <script>#}
{##}
{#        jQuery(document).ready(function() {#}
{#            jQuery('#id_species').multiselect({#}
{#                enableCollapsibleOptGroups: true,#}
{#                enableCaseInsensitiveFiltering: true,#}
{#                filterBehavior: 'both',#}
{#                maxHeight: 300,#}
{#                onDropdownHidden: function (e) {#}
{#                    if (document.getElementById('id_species').value) {#}
{#                        jQuery('#id_species_hidden').val(jQuery('#id_species').val().map(function (item) {#}
{#                            return item.split(':')[0]#}
{#                        }).join(','));#}
{#                    } else {#}
{#                        document.getElementById('id_species_hidden').value = "";#}
{#                    }#}
                    {#                    alert(document.getElementById('id_species_hidden').value);#}
{##}
                    {#                alert(jQuery('#id_species').val().join(','));#}
{##}
{#                }#}
{##}
{#            });#}
{#        });#}
{##}
{##}
{#    </script>#}







{% endblock %}

